# Developer tools' files
.lite_workspace.lua

# Build outputs
/dist
resources

# Dependencies
node_modules

# Tauri specific
src-tauri/target
*.log
.storage
.tmp

# Environment variables
.env
.env.local

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
